<div class="container-fluid">

  <nav class="navbar navbar-toggleable-md bg-faded navbar-dark navbar-inverse bg-inverse">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" routerLink="/area-chart">{{title}}</a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="nav navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/area-chart">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/area-chart">Area Chart</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/shape-chart">Shape Chart</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="http://example.com" id="responsiveNavbarDropdown" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">Dropdown</a>
          <div class="dropdown-menu" aria-labelledby="responsiveNavbarDropdown">
            <a class="dropdown-item" routerLink="/react-chart">React chart</a>
            <a class="dropdown-item" routerLink="/interpolate-chart">Interpolate chart</a>
            <a class="dropdown-item" routerLink="/react-avatar">React Avatar</a>
            <a class="dropdown-item" routerLink="/github-profile">GitHub Profile</a>
          </div>
        </li>
        <li class="nav-item float-lg-right">
          <a class="nav-link" routerLink="/app-signin">Sign In</a>
        </li>
      </ul>
      
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
  
  <!--<nav>
  <a routerLink="/area-chart" routerLinkActive="active">Area Chart</a>
  <a routerLink="/shape-chart" routerLinkActive="active">Shape Chart</a>
  <a routerLink="/finance-chart" routerLinkActive="active">Finance</a>
  <a routerLink="/business-chart" routerLinkActive="active">Business</a>
  <a routerLink="/fixincome-chart" routerLinkActive="active">Fixed Income</a>
  <a routerLink="/react-chart" routerLinkActive="active">React chart</a>
  <a routerLink="/interpolate-chart" routerLinkActive="active">Interpolate chart</a>
  <a routerLink="/react-avatar" routerLinkActive="active">React Avatar</a>
  </nav>-->
  
  <router-outlet></router-outlet>
</div>

<div class="container-fluid">
<footer class="text-muted">
  <div class="container">
    <p class="float-xs-right">
      <a href="#">Back to top</a>
    </p>
    <p>&copy; 2017 Websphone Inc &middot;</p>
  </div>
</footer>
</div>