
.d3-chart {
    display: inline-block;
    position: relative;
    width: 100%;
    height: 100%;
    padding-bottom: 100%;
    vertical-align: top;
    overflow: hidden;
}

line {
  stroke: red;
}

g.group0 path,
g.group0 circle {
  stroke: red;
  fill: none;
}

path {
  stroke: green;
  stroke-width: 2px;
}